# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Tauri Binaries
src-tauri/binaries
src-tauri/target

# Client Binaries
src-tauri/**/*.pak
src-tauri/**/*.dll
src-tauri/**/*.avi
src-tauri/**/*.exe
src-tauri/**/*.txt

# Root Client
Client

# Env variables
*.env
.env

# Signing keys
~
.key